<div class="container">
	<div class="row">
		<div class="col-md-12">
		    <div class="card">
		        <div class="card-header"><h3>List of Questions</h3></div>
                <div  *ngFor="let data of questionArray">
		        <div class="gaadiex-list cardCss" >
                    <div class="gaadiex-list-item">
                      <div class="gaadiex-list-item-text">
                        <h1 style="color: blue;"(click)="getAnswer(data.ques_id)"><a>{{data.ques}}</a></h1>
                        <!-- <h4>Brunch this weekend?</h4> -->
                        <p>{{data.ques_Desc}}</p>
                      </div>
                    </div>
                  </div>
                  </div>
		    </div>
		</div></div>
